.fade-in{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: start;
    font-weight: 400;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.control-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 16px;
    gap: 8px;
    button {
        padding: 8px 16px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;
        font-size: 1rem;
        font-weight: 600;
        &:hover {
            border: solid 2px #555;
            border-radius: 4px;
        }
    }
}