.techsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 12px;

    span.bubble {
        margin-right: 8px;
        background-color: rgba(64, 140, 221, 0.574);
        border: 1px solid black;
        border-radius: 1rem;
        padding: 0.6rem;
        font-size: 0.75rem;
    }
}

.taskList {
    ul{
        li{
            margin-bottom: 0.8rem;
            text-align: start;
            font-size: 0.8rem;
        }
    }
}