.navigation {
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: transparent;
    }

    .dropdown-container {
        position: relative;
        display: inline-block;
    }

    .dropdown-toggle {
        padding: 10px 15px;
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        list-style: none;
        padding: 0;
        min-width: 200px;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .dropdown-item {
        padding: 10px 0;
        cursor: pointer;
        border-bottom: 1px solid black;
        width: 7rem;
    }

    .dropdown-item:last-child {
        border-bottom: none;
    }

    .dropdown-item:hover {
        background-color: #f0f0f0;
    }
}