html {
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 24px;
	line-height: 1;
	letter-spacing: -.03em;
	-webkit-font-smoothing: antialiased;
	
	--color-font: #000;
	--color-bg: #fff;
	
	.dark {
		--color-font: #fff;
		--color-bg: #000;
	}
	
	color: var(--color-font);
	background-color: var(--color-bg);
	
	* {
		color: var(--color-font);
		background-color: var(--color-bg);
	}
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

