.with_right_divider {
  /* border: solid 1px #000; */
  padding: 1rem;
  border-right: 1rem;

  &::after {
    content: '';
    flex-grow: 1;
    width: 10px;
    max-width: 10px;
    background: #0000;
    min-height: 20px;
    margin: auto;
  }

}

.header-container {
  padding: 1rem;
  box-shadow: 0px 3px 5px 0px var(--shadow-box-color);
  display: flex;
  flex-direction: row;
}

.options-container {
  height: 60px;
  display: grid;
  width: 100%;
  align-self: center;

  & .desktop-options {
    display: flex;
    flex-direction: row;
    justify-self: end;
    margin-right: 1em;
    height: 100%;
    align-items: center;
    & a {
      text-decoration: none;
      height: 100%;
      align-content: center;
      padding: 1em;
    }

    & a:hover {
      box-shadow: inset 0px 0px 10px 0px var(--secondary-color);
      border-radius: 5px;
    }
    @media (width <760px) {
      display: none;
    }
  }

  & .mobile-menu {
    display: flex;
    flex-direction: row;
    justify-self: end;
    margin-right: 1em;
    height: 100%;
    align-items: center;
    button {
      border: none;
      background-color: transparent;
      height: 100%;
      align-content: center;
      padding: 1em;
    }
    & button:active {
      box-shadow: inset 0px 0px 10px 0px var(--secondary-color);
      border-radius: 5px;
    }
    @media (width >=760px) {
      display: none;
    }
  }
}

.theme-toggler-container {
  display: flex;
  flex-direction: column;
}

.theme-toggler {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--secondary-color);
}

.theme-toggler-title {
  display: grid;
  grid-template-columns: repeat(2, 2rem);
}

.theme-check input {
  display: none;
}

.theme-check .checkmark {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: var(--warning-color);
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.theme-check input:checked+.checkmark {
  opacity: 1;
  display: inline-block;
}

.theme-check {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  padding: 1rem;
}